body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: $background_blue;
  transition: background-color 1000ms linear;
  margin: 0;
  height: 100vh;
}

@each $value, $color in $background_colors {
  .mood-#{$value} {
    background: $color;
  }
}

.row {
  transition: height 1s ease-in;
}
