body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: $background_blue;
  transition: background-color 1000ms linear;
  margin: 0;
  height: 100vh;
}

@each $value, $color in $background_colors {
  .mood-#{$value} {
    background: $color;
  }
}

.row {
  transition: height 1s ease-in;
}

#text-input {
  display: none;
  position: fixed;
  background: #383838;
  height: 50px;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 2rem;
  padding: 0.6rem 0;
  color: #fff;
}
