div(class='information-row')
  div(class='is-active')
    h1 Zeg <em>wie ben jij?</em> om mij beter te leren kennen
    h1 <em>mag ik de plattegrond?</em>
    h1 <em>mag ik het rooster?</em>
    h1 <em>mag ik de vakrichtingen?</em>
