extends layout

block content
  div(class='row willy-row')
    div(class='robot-avatar-container')
      img(src='/images/avatar.png', class='robot-avatar')

  div(id='content', class='row')
    include not_active_information.pug

  div(id='text-input')
