doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/scripts/jquery-3.3.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/client.js')
  body
    block content
