body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #e5ecf2;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  margin: 0;
  height: 100vh; }

.mood-blue {
  background: #e5ecf2; }

.mood-green {
  background: #ecf2e5; }

.mood-red {
  background: #f2e5ec; }

.mood-gray {
  background: #edebeb; }

.row {
  -webkit-transition: height 1s ease-in;
  transition: height 1s ease-in; }

#text-input {
  display: none;
  position: fixed;
  background: #383838;
  height: 50px;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 2rem;
  padding: 0.6rem 0;
  color: #fff; }

.willy-row {
  height: 80%; }
  .willy-row .robot-avatar-container {
    height: calc(100% - 20px);
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .willy-row img {
    display: inline-block;
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down; }

.information-row {
  text-align: center; }

.image-wrapper {
  height: 100%;
  text-align: center; }
  .image-wrapper img {
    max-width: 100%;
    max-height: 100%; }
