body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #e5ecf2;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  margin: 0;
  height: 100vh; }

.mood-blue {
  background: #e5ecf2; }

.mood-green {
  background: #ecf2e5; }

.mood-red {
  background: #f2e5ec; }

.row {
  -webkit-transition: height 1s ease-in;
  transition: height 1s ease-in; }

.willy-row {
  height: 80%; }
  .willy-row .robot-avatar-container {
    height: calc(100% - 20px);
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .willy-row img {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-height: 100%;
    width: auto; }

.information-row {
  text-align: center; }
