body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #E5ECF2;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear; }
  body.ros-is-active {
    background: #ecf2e5; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.robot-avatar-container {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  max-width: 75%; }

.robot-avatar {
  max-height: 100vh;
  max-width: 100%; }
