$background_blue: #e5ecf2;
$background_green: #ecf2e5;
$background_red: #f2e5ec;
$background_gray: #edebeb;

$background_colors: (
  'blue': $background_blue,
  'green': $background_green,
  'red': $background_red,
  'gray': $background_gray,
);